<section>

    <div class="main">
    
        <div class="head"><h2>{{aim}}</h2></div>
        
            <div class=""> <input name="acnum" type="text" placeholder="ac_number" [(ngModel)]="acno" id="acnu"></div>
           <div class="pss"> <input name="psw" type="password" placeholder="password" [(ngModel)]="psw" id="pass"></div>

            <div class="btn"><button (click)="login()" type="button">login</button></div>
            <div class="newac"><p>Don't have an account ? <a href="#">create account </a></p></div>
        


    </div>


</section>