<form (ngSubmit)="login()">
<section>

    <div class="main">
    
        <div class="head"><h2>{{aim}}</h2></div>
        
            <div class=""> <input name="acnum" type="text" placeholder="ac_number" [(ngModel)]="acno" id="acnu"></div>
           <div class="pss"> <input name="psw" type="password" placeholder="password" [(ngModel)]="psw" id="pass"></div>

            <div class="btn"><button type="submit">login</button></div>
            <div class="newac"><p>new user? <a routerLink="register">register</a></p></div>
        
   
    </div>
</section>
</form>