<div class="main">
    
   <h2>Register Page</h2>
    
        <div class=""> <input name=" enter username" type="text" placeholder="ac_username" [(ngModel)]="uname" id="acnu"></div>
       <div class=""> <input name="enter acno" type="text" placeholder="enter ac_no" [(ngModel)]="acno" id="pass"></div>
       <div class=""> <input name="enter password" type="text" placeholder="enter password" [(ngModel)]="pswd" id="pass"></div>

        <div class="btn"><button (click)="register()" type="button">login</button></div>
        
    


</div>
